{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is my website</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Fajari Arkan</a>
        <div class="nav-links">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item shown" href="{% url 'Pendidikan' %}">Pendidikan</a>
            <a class="navbar-item" href="{% url 'PengalamanKerja' %}">Pengalaman Kerja</a>
            <a class="navbar-item" href="{% url 'Kontak' %}">Kontak</a>
        </div>
    </div>
</nav>
<body>
    <h1>Fajari Arkan Fadhlurrahman</h1>
    <h3>Mahasiswa dengan banyak pengalaman mulai dari Praktik Kerja Lapangan di Klinik Kesehatan Universitas
        Padjajaran hingga di dunia Industri makanan dan minuman. Memiliki passion di bidang Teknologi Informasi,
        pendidikan dan game development.
    </h3>

    <section class="info">
        <div class="items">
            <h2>Pendidikan Ilmu Komputer</h2>
            <img src="{% static 'img/2.jpg' %}" alt="">
            <p>Mahasiswa On-Going di Pendidikan Ilmu Komputer dari Universitas Pendidikan Indonesia</p>
        </div>
        <div class="items">
            <h2>Teknik Komputer dan Jaringan</h2>
            <img src="{% static 'img/3.jpg' %}" alt="">
            <p>Lulusan Teknik Komputer dan Jaringan di SMKN 1 Katapang (2020-2023).</p>
        </div>
        <div class="items">
            <h2>Keterampilan</h2>
            <img src="{% static 'img/4.jpg' %}" alt="">
            <p>Mengajar <br> Translating English <br> Programming <br> Server Management <br> Cloud Computing
            </p>
        </div>
        <div class="items">
            <h2>Sertifikasi</h2>
            <img src="{% static 'img/5.jpg' %}" alt="">
            <p>Test Of English for International Communication
                PT Internasional Test Center-TOEIC Center Indonesia</p>
        </div>
    </section>
    <p>&copy; Fajari Arkan Fadhlurrahman | 2024</p>

</body>

</html>